
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets2/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets2/bootstrap/js/bootstrap.min.js">
    <link rel="stylesheet" href="/assets2/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets2/css/styles.css">
    <link rel="stylesheet" href="/assets2/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets2/js/jquery.min.js">
</head>

<body style="border-radius: 100px;margin-left: 19%;border-style: none;border-color: var(--gray);">
    <div class="table-responsive" style="margin-left: 8%;width: 1000px;text-align: center;margin-top: 10px;border-style: none; margin-bottom:10px;">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 1000px;margin-left: 8%;margin-top: 5px; font-size: 20px;">주문을 확인하세요</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive" style="width: 1000px;height: 250px;margin: 0px;margin-left: 8%;color: var(--gray);border-style: solid;border-color: var(--gray);border-radius: 10px;">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 500px; height:40px; font-size: 20px;"><span style="margin-left:35%">맥치킨 - 세트</span></th>
                    <th style="width: 500px; height:40px; font-size: 20px;"><span style="margin-left:42%">￦ 4,500</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="font-size: 18px;"><span style="margin-left:10px">세부 사항:</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="font-size: 18px;"><span style="margin-left:10px">추가 요청:</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td id="table_footer"><i class="fa fa-minus-circle" style="margin-top:10px; font-size: 25px;margin-left: 39%;"></i><input type="text" style="width: 50px;margin-left: 5px;margin-right: 5px;"><i class="fa fa-plus-circle" style="font-size: 25px;"></i></td>
                    <td><button class="btn btn-primary" type="button" style="width: 200px; height:35px; margin-top:10px; margin-left: 31%;background: rgba(108,117,125,0.21);color: var(--dark);text-align: center;border-style: none;">삭제</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="text" id="total_price" style="text-align: center;margin-bottom: 10px;margin-top: 10px;border-style: none;margin-right: 95px;">
    <input type="text" id="total_price_value" style="margin-left: 60%;text-align: center;margin-bottom: 10px;margin-top: 10px;border-style: none;width: 70px;">
    <div class="table-responsive" style="width: 1000px; margin: 0px;margin-left: 8%;color: var(--gray);border-style: solid;border-color: var(--gray);border-radius: 10px;">
        <table class="table" style="margin-bottom:0rem;">
            <thead>
                <tr>
                    <th style="width: 500px; height:40px; font-size: 20px;"><span style="">총 갯수:</span></th>
                    <th style="width: 500px; height:40px; font-size: 20px;"><span style="">총 가격:</span></th>
                </tr>
            </thead>
        </table>
    </div>
    <br>
    <div class="table-responsive" style="width: 1000px;height: 70px;margin-left: 8%;border-radius: 10px;border-style: none;border-color: var(--gray);">
        <table class="table">
            <thead>
                <tr>
                    <button style="float:left; height:40px; width: 495px;text-align: center;border-style: none;background: rgba(108,117,125,0.21);border-radius: 10px; margin-right:10px">이전</button>
                    <button style="height:40px; text-align: center;border-style: none;background: rgba(108,117,125,0.21);border-radius: 10px;width: 495px;">결제하기</button>
                </tr>
            </thead>
            <tbody style="height: 50px;">
                <tr></tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>