
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets5/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets5/css/Highlight-Clean.css">
    <link rel="stylesheet" href="/assets5/css/styles.css">
</head>

<body style="margin-top: 30px;">
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">주문이 완료되었습니다</h2>
                <p class="text-center">고객님의 주문번호는 <%= data.order_seq %>번 입니다.</p>
            </div>
            <div class="buttons" style="margin-top: 30px;"><a class="btn btn-primary" role="button" href="/kiosk">추가 주문하기</a><button class="btn btn-light" type="button"><a href="/kiosk">주문 완료하기</a></button></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>