<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Checkbox.css">
    <link rel="stylesheet" href="/assets/css/Header.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class="row register-form">
        <div class="col container">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" style="color:#21a9af;" href="#"><img style="width:130px;" src="/assets/img/logo-baixaki.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse float-right d-inline-flex flex-row justify-content-end align-items-end" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"></li>
                        </ul><span class="navbar-text"> </span><a class="btn btn-light action-button" role="button" style="width: 120px;font-size: 14px;font-family: 'Source Sans Pro', sans-serif;font-weight: 400;margin: 0px;margin-left: 0px;margin-right: 15px;color: rgb(255,255,255);border: 1px solid #ffffff;background: rgb(53,140,228);"
                            href="login.html">Mypage</a><a class="btn btn-light action-button" role="button" style="width:120px;font-size:14px;background-color:#01a982;border:1px solid #01a982;font-family:'Source Sans Pro', sans-serif;font-weight:400;" href="login.html">logout</a>
                        <ul
                            class="nav navbar-nav"></ul>
                </div>
        </div>
        </nav>
    </div>
    <div class="col-md-8 offset-md-2" style="width: 100%;height: 100%;">
        <h1 class="text-center" style="border-color: rgb(255,255,255);margin-top: 10%;font-size:30px;">안녕하세요 "<%=name%>"님!</h1><img style="width: 40%;height: 40%;margin-right: 0px;margin-left: 30%;" src="/user"></div>
    </div>
    <h1 class="text-center" style="font-size:30px;border-color: rgb(255,255,255);margin-top: 50px;width: 80%;margin-left: 10%;">알레르기 제외하고 싶으면 해당 QR코드를 인식해 주세요!</h1>
    <h1 class="text-center" style="border-color: rgb(255,255,255);"></h1>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>